html, body, #mapContainer {
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

body {
    padding-top: 50px;
}

#map {
  width: 100%;
  height: 100%;
}

textarea {
   resize: none;
}
.box{
    width: 20px;
    height: 20px;
}

.heading-primary {
  background-color: #1db360;
}

.leaflet-div-icon-point{
  border:1px solid white;
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
}


.point-dark-red{
    /*background: #FF0000;*/
    background: #b82e2e;
}
.point-red{
    /*background: #FF4500;*/
    background: #dc3912;
}
.point-black{
    background: #000000;
}
.point-lightred{
    /*background: #FF4500;*/
    background: #ff9900;
}
.point-purple{
    /*background: #6A5ACD;*/
    background: #990099;
}
.point-orange{
    background: #FF6347;
}
.point-other{
    background: #C0C0C0;
}

.point-blue{
    background: blue;
}

#frequencyNewRouteSlider .slider-selection {
  background: #BABABA;
}
.btn:focus {
  outline: none;
}


